.table {
  column-gap: 16px;
  grid-template-columns: repeat(6, 1fr);
  display: grid;
  row-gap: 8px;
  
  & > header {
    display: contents;
    
    & > span {
      background-color: #F9F9F9;
      color: #2F80ED;
      font-weight: 700;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      padding: 12px;
    }
  }
  
  & > .row {
    display: contents;
    
    & > span {
      color: #262626;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.25px;
      padding: 6px 12px;
    }
  }
}